<h1>{{restuarant.name}}</h1>
<p>address: {{restuarant.address.street}} - {{restuarant.address.zipcode}} </p>
<p>{{restuarant.yelpUrl}}</p>
<ul>
{{#each items}}
<li>{{this}}</li>
{{/each}}
<form method="POST" action="/restuarants/{{menu._id}}?_method=DELETE">
    <button type="submit">DELETE</button>
</form>
</ul>

<form action="/restuarants/:id" method="POST">
  <div>
  <label for="name">Add Menu item:</label>
    <input type="text" name="item">
  </div>
  <div>
    <input type="submit" value="Add">
  </div>
</form>

<a href="/restuarants">All restuarants</a>
<form method="POST" action="/restuarants/{{restuarant._id}}?_method=DELETE">
    <button type="submit">DELETE</button>
</form>
<a href="/restuarants/{{restuarant._id}}/edit">UPDATE</a>
<a href="/restuarants">All Restuarants</a>